{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row ">
        {% if request.user.is_authenticated %}
        <p>Welcome, {{ request.user.username }}</p>
        {% else %}
        <div class="col-sm text-center">
            <a href="login"><button class="btn btn-primary">Sign In</button></a>
        </div>
        <div class="col-sm text-center">
            <a href="signup"><button class="btn btn-primary">Sign Up</button></a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
