{% extends 'nav.html' %}
{% block styles %}
<style>
    #main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #centered {
        margin-top: -10rem;
        width: 60%;
        max-width: 600px;
    }

    #title {
        font-size: 4rem;
        text-align: center;
    }

    #search-container {
        margin-top: 2rem;
    }

    #button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }

    #button-container a {
        margin-bottom: 1rem;
        width: 60%;
    }

    #button-container a button {
        height: 3rem;
        border-radius: 1.5rem;
    }

    .searchbg {
        background-color: #343a40;
        background: url("/static/img/nyc.jpg") no-repeat center center;
        background-size: cover;
    }

    .light-color {
        background-color: rgba(255, 255, 255, 0.8);
    }
</style>
{% endblock %}

{% block body %}
<main role="main" class="searchbg h-100" id="main">
    <div id="centered">

        <h1 id="title" class="logo">NYCityStreets</h1>

        <div id="search-container" class="row form-group">
            <div class="col">
                <form action="{% url 'search' %}" method="GET">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" class="form-control form-control-lg" name="query"
                                placeholder="Search for a Location" minlength="2">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Search!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% if not request.user.is_authenticated %}
        <div id="button-container">
                <a href="{% url 'account_login' %}">
                    <button class="form-control-lg btn-light w-100 light-color">Log In</button>
                </a>
                <a href="{% url 'account_signup' %}">
                    <button class=" form-control-lg btn-primary w-100">Sign Up</button>
                </a>
        </div>
        {% endif %}

    </div>
</main>
{% endblock %}
