{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block styles %}
    {% endblock %}
    <title>NYC CityStreets</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="navbar-brand"><a href="{% url 'index' %}"><span class="logo">NYCityStreets</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <!-- left aligned items -->
                    {% block navcontent %}
                    {% endblock %}
                    <!--Below is some suggested HTML for filling in the navcontent-->
                    <!--Just include something similar to what is below between the navcontent-->
                    <!--Tags in the template you use that extends base.html-->
                    <!--See https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/ and-->
                    <!--https://getbootstrap.com/docs/4.3/components/navbar/ for formatting/styling options-->
                    <!-- <li class="nav-item active">
                            <a class="nav-link" href="#">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>-->
                </ul>
                {% block navformcontent %}
                {% endblock %}
                <!-- example navformcontent -->
                <!--<form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                    </form>-->
                <ul class="navbar-nav ml-auto">
                    <!-- right aligned items -->
                    <li class="nav-item active">
                        {% if request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'apartment_upload' %}">Upload Apartment</a>
                        {% endif %}
                    </li>
                    <li class="nav-item active">
                        {% if request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'favlist' %}">Favorites</a>
                        {% endif %}
                    </li>
                    <li class="nav-item active">
                        {% if request.user.is_authenticated %}
                        <a class="nav-link" href="/account">My Account ({{ request.user.username}})</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
        {% block header %}
        {% endblock %}
    </header>
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} col-sm-6 alert-top" style="z-index: 1000">{{ message }}<button
                type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button></div>
    {% endfor %}
    {% endif %}
    {% block body %}
    {% endblock %}
    <footer class="footer fixed-bottom">
        <div class="container">
            <span class="text-muted">NYCityStreets</span>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/project.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>
