black
coverage
dj-database-url
Django
flake8
gunicorn
django-heroku
django-crispy-forms
django-phonenumber-field
phonenumbers
django-location-field
requests
xmltodict
sodapy
python-craigslist>=1.0.3
markdown
django-filter