{% extends 'base.html' %}

{% block header %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock %}

{%  block script %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#complaints_button").click(function () {
            $("#complaints").toggle();
        });
    });

    var markerList = [];
    var mapCenter = [0,0];

    {% for item in search_data.locations %}

        var latitude = "{{ item.latitude }}";
        var longitude = "{{ item.longitude }}";
        var gmapUrl = "{{ item.google_map_url }}";

        mapCenter[0] += parseFloat(latitude);
        mapCenter[1] += parseFloat(longitude);

        markerList.push([latitude, longitude, gmapUrl]);

    {% endfor %}

    mapCenter[0] = mapCenter[0] / markerList.length;
    mapCenter[1] = mapCenter[1] / markerList.length;

    window.addEventListener("map:init", (event) => {
        var zoomLevel = 13;
        var map = event.detail.map.setView(mapCenter,zoomLevel);

        for (var i=0; i < markerList.length; i++){
            let g_url = markerList[i][2];

            marker = new L.marker([markerList[i][0], markerList[i][1]])
            .addTo(map)
            .bindPopup(`<a target="_blank" href="${ g_url }">Open Google Maps</a>`);
        }

        <!-- Solution to Rendering Leaflet map displaying inside the Modal -->
        document.getElementById("mapTrigger").onclick = function () {
            document.getElementById('mapModal').style.display = 'block';
            setTimeout(function() {
                map.invalidateSize();
            }, 100);
        }
    });

</script>

<style>
.meter {
    width: 4rem;
    height: 0.7rem;
    position: relative;
    background: white;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
}

    div.meter {
        display: inline-block;
        vertical-align: middle;
    }

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: orangered;
  background-image: linear-gradient(
    center bottom,
    orangered 37%,
    orangered 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.horizontal-list {
    display: flex;
    list-style-type: none;
}
.horizontal-list li {
    margin: 0 0.5rem;
}
#stats-list {
    margin: 0;
    padding: 0;
}
.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height:50 vh;
}
</style>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row justify-content-center h-30">
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <h2>Search All Locations</h2>

                    {% crispy search_form %}

                </div>

            </div>
        </div>
    </div>
    <br>
    <div>
        <h3>Search results</h3>
        <p>{{ search_title }}</p>

    </div>

    {% if search_data.stats %}
    <p>
        <hr class="mt-0 mb-2 mt-2">
        <div class="horizontal-list">
        <h5>Complaints Level:</h5>
        <span style="margin-left: 0.5rem; color: {{search_data.css_color_for_complaint_level}};">
            {{ search_data.description_for_complaint_level }}
        </span>
        <ul id="stats-list" class="horizontal-list" stype="display: inline-block">
            {% for key, percentage in search_data.stats %}
            <li>
                <span>{{ key }} </span><div class="meter"><span style="width: {{ percentage }}%"></span></div>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'data_311'%}?zip_code={{zipcode}}">See more</a>
        </div>
    </p>
    {% endif %}

    <div>
        <h5>Locations</h5>
        <hr class="mt-0 mb-2 mt-2">
        {% if search_data.locations %}

            <!--Section: Cards-->
            <section class="text-center" >
            {% for loc in search_data.locations_page %}
                {% if forloop.counter|get_modulo:3 == 1 %}
                <!--Grid row-->
                <div class="row mb-4 wow fadeIn">
                {% endif %}

                <!--Grid column-->
                <div class="col-md-4 mb-4">
                <!--Card-->
                <div class="card shadow">
                    <!--Card image-->
                    <div class="view overlay">
                    <a href="{% url 'location' loc.id %}">
                        <img src={{ search_data.thumbnails|get_item:loc.id }} class="card-img-top cover" alt="apartment image" onerror="this.onerror=null; this.src='/static/img/no_img.png'">
                    </a>
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">{{ loc.full_address }}</h4>
                    <!--Text-->
                    <div class="mb-3">
                        <span class="badge green mr-1 black-text">Matching Apartments: {{ search_data.matching_apartments|get_item:loc.id }}</span>
                    </div>
                    </div>
                </div>
                <!--/.Card-->
                </div>
                <!--Grid column-->
                {% if forloop.counter|get_modulo:3 == 0 %}
                </div>
                {% endif %}
            {% endfor %}

            </section>
            <!--Section: Cards-->


        <!-- Pagination -->
        {% if search_data.locations_page.has_other_pages %}
          <ul class="pagination pg-gray">
            {% if search_data.locations_page.has_previous %}
                <li class="page-item"><a class="page-link" href="?{% query_transform page=search_data.locations_page.previous_page_number %}">&laquo;</a></li>
            {% else %}
              <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in search_data.locations_page.paginator.page_range %}
              {% if search_data.locations_page.number == i %}
                  <li class="active page-item"><a class="page-link">{{ i }}</a></li>
              {% else %}
                  <li class="page-item"><a class="page-link" href="?{% query_transform page=i %}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if search_data.locations_page.has_next %}
                <li class="page-item"><a class="page-link" href="?{% query_transform page=search_data.locations_page.next_page_number %}">&raquo;</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
        {% else %}
        No locations
        {% endif %}

    </div>

</div>

{% endblock %}