{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% if request.user.is_authenticated %}
        <div class="col">
            <p>Welcome, {{ request.user.username }}</p>
            <a href="{% url 'account_logout' %}" class="button secondaryAction">Logout</a>
        </div>
        <div class="col-sm text-center">
            <a href="{% url 'search' %}"><button class="btn btn-primary">Search</button></a>
        </div>
        {% else %}
        <div class="col-sm text-center">
            <a href="{% url 'search' %}"><button class="btn btn-primary">Search</button></a>
        </div>
        <div class="col-sm text-center">
            <a href="{% url 'account_login' %}"><button class="btn btn-primary">Sign In</button></a>
        </div>
        <div class="col-sm text-center">
            <a href="{% url 'account_signup' %}"><button class="btn btn-primary">Sign Up</button></a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
