{% extends 'base.html' %}

{% block breadcrumbs %}
<a href="{% url 'search' %}">Search</a>
<a href="{% url 'location' pk=apt.location.id %}">{{ apt.location.full_address }}</a>
<span>
  {% if apt.suite_num %}
  {{ apt.suite_num }}
  {% else %}
  #
  {% endif %}
</span>
{% endblock %}

{% load crispy_forms_tags %}

{% block script %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}



      <!--Grid column-->
      <div class="col-md-4 mb-4">
          {% for result in results_311.stats %}

            <!--Card-->
            <div class="card shadow">
            <!--Card image-->
            <div class="view overlay">
                {% if result.complaint_type == "Parking" %}
                    <img src="/static/img/parking.jpg" class="card-img-top cover" alt="">
                {% elif result.complaint_type == "Noise" and result.complaint_level <= 2 %}
                    <img src="/static/img/noise_low.jpg" class="card-img-top cover" alt="">
                {% elif result.complaint_type == "Noise" and result.complaint_level > 2 %}
                    <img src="/static/img/noise_high.jpg" class="card-img-top cover" alt="">
                {% endif %}
            </div>
            <!--Card content-->
            <div class="card-body white-text"
                 {% if result.complaint_level <= 2 %}
                 style="background-color:green"
                 {% else %}
                 style="background-color:#ff0b00db"
                {% endif %}
            >

            <!--Title-->
            <h4 class="card-title text-center">{{ result.complaint_type }} Complaints</h4>
            <!--Text-->
            <p class="card-text">

                <div class="text-center">
                  <h3 class="h3 mb-0">{{ result.complaint_level }}</h3>
                  <p>Complaint Level (0-5)</p>
                </div>
                <hr>

                <div class="text-center">
                  <h3 class="h3 mb-0">{{ result.percentage_complaints_closed }} %</h3>
                  <p>Complaints Closed</p>
                </div>
                <hr>

                <div class="text-center">
                  <h3 class="h3 mb-0">{{ result.total_complaints_query_zip }}</h3>
                  <p>Total Complaints</p>
                </div>
                <hr>

                <div class="text-center">
                  <h3 class="h3 mb-0">{{ result.closed_complaints_query_zip }}</h3>
                  <p>Closed Complaints</p>
                </div>
                <hr>

            </p>

            </div>
            <!-- Card -->

{#              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Display Complaints</button>#}
{#              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"#}
{#                   aria-hidden="true">#}
{#                  <div class="modal-dialog" role="document">#}
{#                      <div class="modal-content">#}
{#                          <div class="modal-header">#}
{#                              <h5 class="modal-title" id="exampleModalLabel">Complaints</h5>#}
{#                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                  <span aria-hidden="true">&times;</span>#}
{#                              </button>#}
{#                          </div>#}
{#                          <div class="modal-body">#}
{#                              <div>#}
{#                                <hr class="mt-0 mb-2 mt-2">#}
{#                                    <h5>311 Data Complaints for Zip Code: {{ zip }}</h5>#}
{#                                    <ol>#}
{#                                    {% for result in results_311.complaints %}#}
{#                                        <li><h5>Complaint Results</h5></li>#}
{#                                        <ul>#}
{#                                        <li>Date Created: {{ result.created_date }}</li>#}
{#                                        <li>Incident Address</li>#}
{#                                            <ul>#}
{#                                            <li>Street Address: {{ result.incident_address }}</li>#}
{#                                            <li>ZIP Code: {{ result.incident_zip }}</li>#}
{#                                            <li>City: {{ result.city }}</li>#}
{#                                            </ul>#}
{##}
{#                                        <li>Complaint</li>#}
{#                                            <ul>#}
{#                                            <li>Complaint Type: {{ result.complaint_type }}</li>#}
{#                                            <li>Description: {{ result.descriptor }}</li>#}
{#                                            <li>Status: {{ result.status }}</li>#}
{#                                            </ul>#}
{#                                        </ul>#}
{#                                        <hr class="mt-0 mb-2 mt-2">#}
{#                                    {% endfor %}#}
{#                                    </ol>#}
{#                                </div>#}
{#                          </div>#}
{#                          <div class="modal-footer">#}
{#                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                          </div>#}
{#                      </div>#}
{#                  </div>#}
{#              </div>#}
{##}
{#        <a href="#" class="btn btn-outline-white btn-md waves-effect">Display Complaints</a>#}

      </div>

              <hr>
          {% endfor %}
        </div>

<!--Main layout-->
<main class="mt-5 pt-4">


  <div class="container dark-grey-text mt-5">


    <!--Grid row-->
    <div class="row wow fadeIn">


      <!--Grid column-->
      <div class="col-md-6 mb-4">

      {% if apt.image %}
          <img src="{{ apt.image }}" class="card-img-top contain" alt="apartment image" onerror="this.onerror=null; this.src='/static/img/no_img.png'">
      {% else %}
          <img src="/static/img/no_img.png" class="card-img-top contain" alt="apartment image">
      {% endif %}

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">


        <!--Content-->
        <div class="p-4">
          <p class="lead font-weight-bold">
            <span class="font-weight-bold">{{ apt.location.full_address }}</span>
            {% if apt.landlord and request.user.is_authenticated and apt.landlord == request.user %}
            <small><a href="{% url 'apartment_edit' pk=apt.location.id apk=apt.id %}" class="">Edit</a></small>
            {% endif %}
          </p>

          <div class="mb-3">
            {% if apt.suite_num %}
            <span class="badge red mr-1 black-text">Suite: {{ apt.suite_num }}</span>
            {% endif %}
            <span class="badge blue mr-1 black-text">Bedrooms: {{ apt.number_of_bed }}</span>
          </div>

          <p class="lead">
            <span>{{ apt.rent_price_for_display }}</span>
          </p>
          {% if not apt.description %}
          <p>(Default Description) Bright one bedroom apartment in the heart of Bay Ridge. Located in the 80's near 3rd
            Avenue the property
            is steps to shopping and restaurants and a short walk to the R train 86th Street station.
            The apartment is in a walk-up building. It features an eat-in kitchen, hardwood floors and freshly
            painted rooms. Good credit and proof of income are needed.</p>
          {% else %}
          <p>
            {{ apt.description }}
          </p>
          {% endif %}

          {% if show_claim_button %}
          <p>
            <a href="{% url 'claim' pk=apt.location.id apk=apt.id %}" class="italic">Are you a tenant or a
              landlord of this apartment?</a>
          </p>
          {% endif %}

          <!--{% if apt.landlord and request.user.is_authenticated and apt.landlord == request.user %}
          <p>
            <a href="{% url 'apartment_edit' pk=apt.location.id apk=apt.id %}">
              <button class="btn btn-primary">Update</button>
            </a>
          </p>
          {% endif %}-->

          <form method="POST" action="{% url 'contact_landlord' pk=apt.location.id apk=apt.id %}">
              {% csrf_token %}
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Interested?</button>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          {% if not request.user.is_authenticated %}
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <p>You need to be <a href="/accounts/login?next={{request.path}}">logged in</a> before you can contact the landlord!</p>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>

                          {% elif not apt.landlord %}
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">No Landlord?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <p>It appears that there is no landlord for this apartment in our database. If you are
                                      the landlord, you can claim this apartment by clicking
                                      <b><i>"Are you a tenant or a landlord of this apartment?"</i></b></p>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>

                          {% elif apt.landlord == request.user %}
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Can't Contact Yourself</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <p>It appears that you are the landlord for this apartment. Why do you want to contact
                                  yourself?</p>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>

                          {% else %}
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Contact Landlord</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  {{ contact_landlord_form|crispy }}
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Send message</button>
                              </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
          </form>

        {% if messages %}
          {% for message in messages %}
            {% if 'email' in message.tags %}
                <p style="color:green">
                    {{ message }}
                </p>
            {% endif %}
          {% endfor %}
        {% endif %}

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>
  </div>
</main>
{% endblock %}
