{% extends 'base.html' %}
{% block header %}
{% load leaflet_tags %}
{% load static %}
    {% load crispy_forms_tags %}
{% leaflet_js %}
{% leaflet_css %}

<script type="text/javascript">
  let latitude = {{ object.latitude }};
  let longitude = {{ object.longitude }};
  window.addEventListener("map:init", (event) => {
    let zoomLevel = 13;
    let map = event.detail.map.setView([latitude, longitude], zoomLevel);
    L.marker([latitude, longitude])
    .addTo(map)
    .bindPopup(`<a target="_blank" href="{{object.google_map_url}}">Open Google Maps</a>`)
    .openPopup();

  });
</script>
{% endblock%}

{% block content %}
<h1>{{object.address}}, {{object.city}}, {{object.state}}, {{object.zipcode}}</h1>
    # After onclick "write review...",  should POST and display write review
    # should automatically update the page
{% leaflet_map "leaflet_map_main" %}
    {% if object.review_set %}
        <h2> Review: </h2>
        <hr class="mt-0 mb-2 mt-2">
        <div class="row h-65">
            <div class="col">
                <table class="table table-striped table-bordered table-hover table-sm results-table" width="100%">
                    <thead>
                        <tr>
                            <th scope="col" class="th-sm">User</th>
                            <th scope="col" class="th-sm">Content</th>
                            <th scope="col" class="th-sm">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for review in object.review_set.all %}
                        <tr>
                            <td scope="row">{{ review.user }}</td>
                            <td>{{ review.content }}</td>
                            <td>{{ review.timstamp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    <h2>Write some review</h2>
    <form action="{% url "review" object.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>


{% endblock %}
