{% extends 'base.html' %}
{% block header %}
{% load leaflet_tags %}
{% load static %}
{% leaflet_js %}
{% leaflet_css %}

<script type="text/javascript">
  let latitude = {{ object.latitude }};
  let longitude = {{ object.longitude }};
  window.addEventListener("map:init", (event) => {
    let zoomLevel = 13;
    let map = event.detail.map.setView([latitude, longitude], zoomLevel);
    L.marker([latitude, longitude])
    .addTo(map)
    .bindPopup(`<a target="_blank" href="{{object.google_map_url}}">Open Google Maps</a>`)
    .openPopup();

  });
</script>
{% endblock%}

{% block content %}
<h1>{{object.address}}, {{object.city}}, {{object.state}}, {{object.zipcode}}</h1>
{% leaflet_map "leaflet_map_main" %}

<hr>

<h2>Zillow</h2>
{% if object.zillow_set.all %}
<ul>
{% for zillow in object.zillow_set.all %}
<li>
  <a href={{zillow.url}}>
  <h3>
    {% if zillow.suite_num %}
      <span class="badge badge-secondary">#{{zillow.suite_num}}</span>
    {% endif %}
    {{zillow.estimated_rent_price_for_display}}
  </h3>
  </a>
</li>
{% endfor %}
</ul>
{% else %}
<p>No data from Zillow</p>
{% endif %}
<i>Last update: {{object.last_fetched_zillow}}</i>

<form action="{% url 'location' object.id %}" method="GET">
{#{% csrf_token %}#}
{% if request.user.is_authenticated and user.user_type_string == "Renter" %}
<form action="{% url 'favorite' object.id %}" method="POST">
{% csrf_token %}
<button type="submit" class="btn secondaryAction btn-outline-primary">Favorite</button>
</form>

{% if messages %}
<ul>
  {% for message in messages %}
{#    {% if 'apartment' in message %}#}
        <li style="color:green">
            {{ message }}
        </li>
{#    {% endif %}#}
  {% endfor %}
</ul>
{% endif %}

{% endif %}

{% endblock %}
