{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Sign Up for an Account<button onclick="goBack()">Back</button></h2>
            <script>
                function goBack() {
                window.history.back();
                }
            </script>

            {% if form %}
            <form method="POST" action="" class="form-signin">
                {%  csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Sign Up">
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}